
@{
  Layout="Shared/_Layout.cshtml";
}
<div class="panel panel-default">
  <div class="panel-body">
    <h2>Concert: @Model["concert"].GetShowDate()</h2>
    <hr />
    @if (@Model["concertGoers"].Count != 0)
    {
      <h4>This concert has these fans:</h4>
      <ul>
        @foreach (var goer in @Model["concertGoers"])
        {
          <li>@goer.GetName()</li>
        }
      </ul>
    }
    <hr />
    <h4>Add a fan to this concert:</h4>
    <form action='/concert/add_goer' method='post'>
      <input id='concert-id' name='concert-id' type='hidden' value='@Model["concert"].GetId()'>
      <label for='goer-id'>Select a goer</label>
      <select id='goer-id' name='goer-id' type='text'>
        @foreach (var goer in @Model["allGoers"])
        {
          <option value='@goer.GetId()'>@goer.GetName()</option>
        }
      </select>
      <button type='submit' class="btn">Add</button>
    </form>
  </div>
</div>
